.site-nav {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgb(255, 0, 0);
  }
  
  .nav-button {
    background-color: #333;
    color: rgb(46, 43, 43);
    border: none;
    padding: 8px 16px;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  
  .nav-button:hover {
    background-color: #555;
  }
  
